.container {
    max-width: 90%;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot');
    src: local('../fonts/PT Sans Bold'), local('../fonts/PTSans-Bold'),
        url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Bold.woff') format('woff'),
        url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.eot');
    src: local('../fonts/PT Sans Italic'), local('../fonts/PTSans-Italic'),
        url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Italic.woff') format('woff'),
        url('../fonts/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: local('../fonts/PT Sans'), local('../fonts/PTSans-Regular'),
        url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.eot');
    src: local('../fonts/PT Sans Bold Italic'), local('../fonts/PTSans-BoldItalic'),
        url('../fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-BoldItalic.woff') format('woff'),
        url('../fonts/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*
.container {
    max-width: none !important;
}
*/
h1 {
    font-size: 1.55rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.42px;
    color: #323232;
    text-transform: uppercase;
}

h3 {
    color: #323232;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1rem;
    letter-spacing: 0.78px;
    margin-top: -1px;
    margin-bottom: 3px;
}

h4 {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}


body {
    font-family: "PT Sans", Sans-Serif;
    font-size: 14px;
    letter-spacing: 0.68px;
    color: #323232;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-top {
    min-height: 35px;
    padding: 10px 0;
    display: flex;
    color: white;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffbf84 4%, #f3963e 41%, #ee7809);
}

.header-top a {
    color: white;
    font-weight: bold;
}

.phone-wrap {
    font-size: 0.9rem;
    color: white;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 100%;
}

.fa {
    margin-right: 5px;
    font-size: 1.3rem;
    vertical-align: -2px;
}

.user-wrap-top {
    text-align: right;
    /*border-bottom: 1px solid white;*/
}

.user-wrap-top a,
.user-wrap-top button {
    color: white;
    border: none;
    background: none;
    position: relative;
    text-align: left;
    font-weight: bold;
}

.user-wrap-top a span,
.user-wrap-top button span {
    position: absolute;
    top: -0.9rem;
    right: -0.2rem;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    z-index: 1;
    font-style: italic;
    text-align: left;
}

.message-user {
    position: relative;
}

.message-user:hover {
    text-decoration: none;
}

/*
.message-user:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 2.7rem;
    bottom: 0px;
    z-index: 1;
    background: rgb(255 240 226);
    color: #323232;
    text-align: center;
    padding: 5px 10px;
    font-weight: normal;
    font-style: italic;
    width: 15rem;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(199 100 8);
    -moz-box-shadow: 1px 3px 5px 0px rgb(199 100 8);
    box-shadow: 1px 3px 5px 0px rgb(199 100 8);
    border-radius: 5px;
}
*/
.user-wrap-message {
    background: #fff0e2;
    border-radius: 5px;
    color: #323232;
    padding: 5px 10px 3px;
    margin-top: 7px;
}

ul.user-field {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.user-field li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
    line-height: 0.95rem;
}

.user-wrap-message ul.user-field li a {
    color: #ee7809;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff !important;
    min-width: 175px;
    border: 0;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
    border: 2px solid #f3963e;
    -webkit-box-shadow: 0px 2px 30px 0px rgba(50, 50, 50, 0.48);
    -moz-box-shadow: 0px 2px 30px 0px rgba(50, 50, 50, 0.48);
    box-shadow: 0px 2px 30px 0px rgba(50, 50, 50, 0.48);
}

#user-button .dropdown-menu li {
    display: block;
}

#user-button .dropdown-menu li:last-child {
    border-top: 1px solid #f3963e;
}

.dropdown-menu>li>a {
    font-weight: normal;
    color: #323232;
    display: block;
    padding: 7px 10px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    text-align: center;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f3963e;
    font-weight: bold;
    border-radius: 5px;
}

li.dropdown:hover>.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.header-search {
    background: url(../images/bg-header.png) left center no-repeat, url(../images/bg-header-right.png) right center no-repeat;
    height: 65px;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.header-search input {
    font-size: 0.9rem;
    color: #aeabab;
}

.header-search .input-group input {
    padding: 1.1rem 1rem 1.2rem 1rem;
}

.header-search .input-group-text,
.header-nav .input-group-text {
    background-color: #f3963e;
    border: 1px solid #f3963e;
    padding: 0.075rem 0.45rem;
}

.header-search .input-group-text i.fa {
    margin: 0 0 0 0.075rem;
}

.header-search .input-group-text,
.header-nav .input-group-text {
    color: white;
}

.heading-page-wrap {
    border-bottom: 2px solid #979797;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.search-form a {
    color: #ee7809;
}

.breadcrumbs-wrap {
    text-align: right;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.25rem 0rem 0rem;
    margin-bottom: 0.9rem;
    list-style: none;
    background-color: white;
    border-radius: 0;
    justify-content: flex-end;
}

.breadcrumb a {
    color: #323232;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

/*mobile filter*/
.mobile-button-wrap {
    display: flex;
    justify-content: center;
    margin: 15px 0 35px;
}

.mobile-button-wrap button {
    border: 2px solid #979797;
    border-radius: 5px;
    color: #323232;
    margin: 0 5px;
    text-transform: uppercase;
    padding: 8px 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    background: white;
}

.mobile-button-wrap button.filter-catalog-mobile {
    background-color: #f3963e;
    color: white;
    border-color: #f3963e;
}

/*mobile filter end*/

.filter-wrap {
    font-weight: bold;
    border-bottom: 2px solid #f3963e;
    margin-bottom: 25px;
}

.filter-wrap p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1rem;
}

.form-check {
    padding-left: 1.5rem;
}

.form-check-input {
    margin-left: -1.45rem;
}

.price-poz-wrapper .form-check-input {
    margin-left: 0;
    margin-top: 0;
}

.price-poz-wrapper .form-control-sm {
    width: 60%;
}

.price-poz-wrapper button {
    width: 40%;
}

.filter-wrap .brands-wrap .form-check-label {
    font-weight: normal;
}

.filter-wrap .form-check-label {
    font-weight: bold;
}

.button-wrap .btn.all,
.buttons-wrap .btn.all {
    margin: 0;
    color: white;
    background: #f3963e;
}

.button-wrap a.btn.all:hover {
    margin: 0;
    color: #f3963e;
    background: white;
}

.button-wrap .btn-wrap {
    /*margin-top: -40px;    */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
}

.filter-wrap .button-wrap .btn-wrap {
    margin-top: 20px;
    justify-content: center;
}

.rectangle-flag {
    display: block;
    width: 65px;
    height: 61px;
    margin-bottom: -2rem;
    z-index: 10;
    position: relative;
    margin-left: -0.4rem;
}

.filter-wrap .form-group {
    display: flex;
    margin-bottom: 0.5rem;
}

.filter-wrap .form-group label {
    line-height: 2.2em;
    margin: 0;
}

.btn-all-prev {
    color: #7c7777;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-decoration: underline;
}

.btn-all-prev:hover {
    text-decoration: none;
    color: #7c7777;
}

.pager-wrap p {
    margin-bottom: 5px;
}

.pager-wrap .pagination {
    border-radius: 0;
}

.pager-wrap .pagination a {
    border: none;
    background: none;
    color: #323232;
    text-decoration: underline;
    padding: 0.5rem 0 1rem 0;
}

.pager-wrap .pagination li::after {
    content: "|";
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
}

.pager-wrap .pagination li:last-child::after {
    content: "";
}

.pager-wrap .pagination li {
    margin-right: 5px;
}

.pager-wrap .pagination li.active {
    font-weight: bold;
    text-decoration: none;
}

.panel-catalog {
    text-align: right;
}

.panel-catalog p {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: right;
    display: inline-block;
}

.buttons-wrap {
    display: flex;
}

.buttons-wrap .btn-wrap-small .btn.all {
    font-weight: 600;
    font-size: 0.67rem;
    margin-right: 5px;
    padding: 2px;
    line-height: 0.8rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /*height: 25px;*/
    height: 38px;
    margin-bottom: 15px;
}

.buttons-wrap .btn-wrap-small:last-child .btn.all {
    margin-right: 0;
}

.panel-catalog-filter {
    /*display: flex;*/
    align-items: center;
    line-height: 1rem;
    justify-content: center;

}

.panel-catalog-filter .row .col {
    padding: 0;

}

.price-poz-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.price-poz-wrapper>div,
.panel-catalog-filter>div {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.panel-catalog-filter p {
    text-align: center;
}

.form-control-sm {
    padding: .25rem .1rem;
}

.catalog-wrap .reviews-position .img-block,
.heading-card-wrap .img-block {
    position: relative;
}

.catalog-wrap .reviews-position .img-block img.new-items,
.heading-card-wrap .img-block img.new-items {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 2;
}

.catalog-wrap .reviews-position a {
    color: #323232;
}

.catalog-wrap .reviews-position h3 {
    margin-bottom: 10px;
}

.catalog-wrap .reviews-position a:hover,
.catalog-wrap .reviews-position a:hover h3 {
    color: #ee7809;
    text-decoration: none;
}

.position-wrap {
    margin-bottom: 30px;
}

.position-wrap p {
    margin-bottom: 0.4rem;
}

.price-position {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-weight: bolder;
    justify-content: center;
}

.price-position .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-position .row .col:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price-position .icons,
.order-wrap .icons {
    display: inline-block;
    width: 40px;
    height: 37px;
    border: 0;
    border-radius: 0;
    margin: 0rem 1rem 0 0;
    padding: 0px 10px 0px 10px;
}

.positions-filter-wrap.down {
    margin-bottom: 0;
}

.slider-sales-leader.position-page .tab-content {
    padding-top: 10px;
}

.slider-sales-leader.position-page .tab-content .left {
    text-align: right;
}

.slider-sales-leader.position-page .tab-content .right {
    text-align: left;
    font-weight: bold;
}

.selection-reviews .heading-reviews {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.parametrs {
    font-size: 1rem;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.parametrs .form-check {
    width: 50%;
}

.button-wrap .btn-param {
    text-transform: uppercase;
}

.heading-card-wrap {
    color: #323232;
    margin-bottom: 35px;
}

.heading-card-wrap h1 {
    font-size: 1.2rem;
    text-transform: none;
    letter-spacing: 0.05rem;
    margin-bottom: 0.9rem;
}

.heading-card-wrap p {
    font-style: 1rem;
    font-weight: normal;
}

.order-wrap {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -15px;
    margin-right: -15px;
}

.order-wrap .icons {
    width: 30px;
    height: 20px;
    margin: 0rem 0rem 0 -1rem;
    padding: 3px 5px 10px 3px;
}

.heading-card-wrap .button-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}

.button-wrapper {
    display: flex;
    margin: 15px 0 35px;
}

.button-wrapper .btn-wrap {
    /*margin-right: 15px;*/
    height: 100%;
}

.heading-card-wrap .button-wrapper .btn-wrap .btn.all {
    margin-left: 0;
}

.image-photo-slider {
    margin-bottom: 15px;
}

.image-photo-slider-nav {
    display: flex;
}

.image-photo-slider-nav a {
    margin-right: 10px;
}

.personal-cart {
    display: flex;
    line-height: 1rem;
    position: relative;
}

.personal-cart:after {
    content: '';
    display: block;
    z-index: 0;
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.personal-cart,
.personal-cart a {
    color: #006373;
}

.personal-cart span,
.personal-cart a {
    display: inline-block;
    line-height: 1.2rem;
    z-index: 1;
}

.personal-cart span {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 2px #f3963e;
    border-radius: 50%;
    margin: auto 1rem auto 0;
    padding: 7px 5px 5px 5px;
}

.header-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 65px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f6f6f6;
    margin-bottom: 0.6rem;
}

#header-nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 9px;
}

#header-nav ul li {
    display: inline-block;
    margin: auto;
    padding: 1em;
}

#header-nav ul li a {
    color: #323232;
    /*text-transform: uppercase;*/
    letter-spacing: 1.3px;
    font-weight: bold;
    font-size: 1.1rem;
}

#header-nav ul li a:hover,
#header-nav ul li a:focus,
#header-nav ul li a.active {
    text-decoration: underline;
}

#header-nav ul li a.new-items {
    color: #e22323;
}

#header-nav ul li a.special-items {
    color: #386000;
}

/*catalog menu*/

.home-page-menu-wrap {
    border: solid 1px #d8d8d8;
    padding: 1rem 1rem 1rem 1rem;
}

.home-page-menu-wrap ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

.home-page-menu-wrap ul li {
    border-bottom: solid 1px #e0dcdc;
    position: relative;
}

.home-page-menu-wrap ul li:last-child {
    border-bottom: 0px;
}

.home-page-menu-wrap ul li a,
.home-page-menu-wrap ul li label {
    color: #323232;
    font-weight: bold;
    letter-spacing: 0.78px;
    display: block;
    padding: 3.2px 5px 5px;
}

.home-page-menu-wrap ul li a:hover,
.home-page-menu-wrap ul li a:focus,
.home-page-menu-wrap ul li a.active,
.home-page-menu-wrap ul li label:hover,
.home-page-menu-wrap ul li label:focus,
.home-page-menu-wrap ul li label.active {
    color: #006373;
    text-decoration: none;
    background-color: #F1F1F1;

}

.sub-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.26);
    padding: 23px 26px 30px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s ease-in;
    width: 842px;
    z-index: 3;
    top: -77px;
    left: 216px;
    margin-left: 30px;
}


.home-page-menu-wrap .sub-menu .menu-desctop-sub-menu .firsl-level {
    color: #323232;
    font-weight: bold;
    letter-spacing: 0.78px;
    display: block;
    padding: 3.2px 5px;
    text-transform: uppercase;
    margin-top: 10px;
}

.home-page-menu-wrap .sub-menu .menu-desctop-sub-menu .firsl-level:hover {
    color: #006373;
    background-color: #fff !important;
}

.home-page-menu-wrap .sub-menu .menu-desctop-sub-menu .second-level:hover {
    color: #f3963e;
    background-color: #fff !important;
}

.sub-menu .menu-desctop-second-level-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.sub-menu .menu-desctop-second-level-wrap .second-level {
    display: block;
    width: 50%;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.68px;
    color: #323232;
    text-transform: none;
    padding-left: 25px;
}

.home-page-menu-wrap ul.catalog-menu li.active>a {
    text-transform: uppercase;
    color: #006373;
}

.home-page-menu-wrap ul.catalog-menu li.active>a:before {
    content: '';
    width: 13px;
    height: 13px;
    background: url(../images/Triangle.png) center center;
    background-color: white;
    display: block;
    margin: 3px 4px 0 -8px;
    padding-right: 5px;
    float: left;
}

.home-page-menu-wrap ul.catalog-menu li.active ul li {
    border-bottom: 0;
}

.home-page-menu-wrap ul.catalog-menu li.active ul li a,
.home-page-menu-wrap ul.catalog-menu li.active ul li label {
    padding: 5px 20px;
    line-height: 0.9rem;
    margin-bottom: 0;
    text-transform: inherit;
}

.home-page-menu-wrap ul.catalog-menu li.has-children ul li ul li a {
    padding-left: 30px;
}

.home-page-menu-wrap ul.catalog-menu li.active ul li.active>a:before {
    content: '';
    width: 10px;
    height: 10px;
    background: url(../images/Triangle-small.png) center center;
    background-color: white;
    display: block;
    margin: 2px 3px 0 -15px;
    padding-right: 5px;
    float: left;
}

.home-page-menu-wrap ul.catalog-menu li.active ul li.active ul li a {
    padding: 5px 30px;
    line-height: 0.9rem;
}

.home-page-menu-wrap label {
    margin-bottom: 0;
}

/*slider styles*/
.slider {
    margin-bottom: 10px;
}

.slider .slick-slide img {
    display: block;
    height: auto;
    width: 100%;
}

.slider-top,
.slider-wrap,
.text-block {
    margin-left: -15px;
}

.slider-top .slick-prev {
    background: url(../images/arrow-left-slider-top.png) no-repeat center center;
    width: 24px;
    height: 41px;
    left: 15px;
    z-index: 2;
}

.slider-top .slick-next {
    background: url(../images/arrow-rigth-slider-top.png) no-repeat center center;
    width: 24px;
    height: 41px;
    right: 30px;
    z-index: 2;
}

.slider-brands .slick-prev,
.leader-positiions-wrap .slick-prev {
    background: url(../images/brends-slider-arrow-left.png) no-repeat center center;
    width: 17px;
    height: 32px;
    left: 0;
    z-index: 2;
}

.slider-brands .slick-next,
.leader-positiions-wrap .slick-next {
    background: url(../images/brends-slider-arrow-right.png) no-repeat center center;
    width: 17px;
    height: 32px;
    right: 0;
    z-index: 2;
}

.slider-brands .slick-prev,
.slick-next {
    top: calc(50% - 2px);
}

.leader-positiions-wrap .slick-prev,
.leader-positiions-wrap .slick-next {
    top: -6%;
}

.leader-positiions-wrap .slick-prev {
    left: 92%;
}

.leader-positiions-wrap .slick-next {
    right: 2%;
}

.slider-brands {
    padding: 15px;

}

.slider-brands div {
    height: 90px;
    display: flex !important;
    padding: 0 5px;
    height: auto;
}

.slider-brands div img {
    margin: auto;
}

.button-wrap {
    margin-bottom: 1rem;
}

.button-wrap_end {
    display: flex;
    justify-content: flex-end;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.btn {
    display: inline-block;
    padding: 7px 8px;
    border: solid 1px #f3963e;
    border-radius: 0;
    margin: auto;
}

.btn.all {
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.78px;
    color: #e58123;
}

.btn-wrap a:hover {
    color: white;
    background: #f3963e;
}

/*news sidebar*/
.news-wrap-sidebar {
    border: solid 1px #d8d8d8;

    margin-top: 25px;
}

.heading-news {
    background-color: #f3963e;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 21px;
    padding: 10px 25px 13px;
}

.block-news {
    padding: 0 19px;
    margin: 13px 0;
}

.text-block {
    line-height: 1.1rem;
}

.img-block {
    border: solid 3px white;
}

.block-news a {
    color: #323232;
}

.block-news>a:hover h3,
.leader-position>a:hover h3 {
    color: #f3963e;
}

.block-news a:hover,
.leader-position a:hover {
    text-decoration: none;
}

.all-news {
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #f3963e;
    text-transform: uppercase;
    margin: 5px 21px 21px;
    display: inline-block;
}

.all-news:hover {
    color: #f3963e;
}

.slider-sales-leader {
    border: solid 1px #d8d8d8;
    padding: 12px 15px;
    margin-left: -15px;
}

.slider-sales-leader.position-page {
    margin-left: 0px;
    margin-bottom: 35px;
}

.slider-sales-leader nav a {
    color: #f3963e;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.2rem;
}

.slider-sales-leader .nav-pills .nav-link {
    border: 0;
}

.slider-sales-leader .nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.slider-sales-leader .nav-pills .nav-link:hover {
    background-color: #f3963e;
    color: white;
    text-decoration: none;
    border-radius: 0;
    border: 0;
}

.slider-sales-leader .nav-tabs {
    border-bottom: 0;
}

.leader-positiions-wrap {
    position: relative;
}

.leader-position {
    text-align: center;
}

.leader-position .img-block {
    padding: 29px 15px;
    text-align: center;
}

.leader-position img {
    display: inline-block;
}

.leader-position .text-block {
    text-align: left;
    margin: 0;
}

.leader-position .text-block h3 {
    margin-bottom: 10px;
    height: 135px;
    overflow: hidden;
    line-height: 1.3rem;
}

.leader-position a {
    color: #323232;
}

.form-db__col {
    margin-bottom: 8px;
    min-width: 204px;
    max-width: 440px;
}

.form-db__col .form-check {
    padding: 0;
    margin-right: 16px;
}

.form-db__col .form-check:last-child {
    margin-right: 0;
}

.filter-wrap.filter-wrap_reclamation {
    padding-top: 15px;
    border: none;
}

.reclamation {
    padding: 12px 15px 15px;
    border: 1px solid #D8D8D8;
}

.reclamation .nav.nav-tabs {
    margin-bottom: 30px;
}

.reclamation a.nav-link {
    color: #495057;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: solid;
    padding-left: 0;
    padding-right: 0;
    margin: 0 16px;
}

.reclamation a.nav-link:hover,
.reclamation a.nav-link:focus,
.reclamation a.nav-link:active {
    color: #ee7809;
    border-color: #fff;
}

.reclamation a.nav-link.active {
    text-decoration: none;
    border-color: #fff #fff #F3963E;
    border-bottom: 4px solid #F3963E;
}

.filter-wrap_reclamation .nav-tabs li:first-child a.nav-link {
    margin-left: 0;
}

.reclamation input {
    padding: 0 8px;
}

.reclamation input.input-data {
    line-height: 1;
}

.reclamation__search {
    position: relative;
}

.reclamation__search-button {
    position: absolute;
    border: 0;
    background: none;
    top: 3px;
    right: 16px;
}

.reclamation__button {
    padding: 4px 8px;
}

.reclamation .form-group label {
    line-height: 2em;
}

.reclamation .reclamation__button:hover,
.reclamation .reclamation__button:focus,
.reclamation .reclamation__button:active,
.reclamation .btn:hover,
.reclamation .btn:focus,
.reclamation .btn:active,
.order-list .btn:hover,
.order-list .btn:focus,
.order-list .btn:active {
    margin: 0;
    color: #f3963e;
    background: white;
}

.order-list .buttons-wrap .btn-wrap {
    margin-right: 15px;
}
.order-list .buttons-wrap .btn-wrap:last-child {
    margin-right: 0px;
}

.order-list .table thead th {
    border-top: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: rgba(34, 34, 34, 0.5);
}
.order-list .table tbody td {
    vertical-align: middle;
    font-weight: 700;
}


.number-of-goods {
    display: flex;
}

.number-of-goods .number {
    display: flex;
    overflow: hidden;
    border: 1px solid #ced4da;
    justify-content: center;
    position: relative;
    top: -5px;
    border-radius: 3px;
    max-height: 35px;
    max-width: 140px;
}

.number-of-goods .number .number__text {
    border: none;
    width: 80px;
    text-align: center;
}

.number-of-goods a {
    border-right: 1px solid #999999;
    padding: 0px 10px 4px;
    font-size: 1.2rem;
    color: #000;
    background: #f2f6f6;
}

.number-of-goods a:hover,
.number-of-goods a:focus,
.number-of-goods a:active {
    text-decoration: none;
}

.number-of-goods .number a:last-child {
    border-right: none;
    border-left: 1px solid #999999;
}

.product-wrap {
    padding: 15px 0 0;
    border-top: 2px solid #F3963E;
    border-bottom: 2px solid #F3963E;
    margin-bottom: 15px;
}

footer {
    height: auto;
    background-color: #323232;
    margin-top: 54px;
    color: white;
    padding-bottom: 50px;
}

footer a {
    color: #d5d0d0;
    text-decoration: none;
}

footer a:hover {
    color: #848282;
    text-decoration: none;
}

.top-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-bottom: solid 1px #979797;
    margin-bottom: 29px;
}

.top-footer img {
    margin: auto;
    padding-bottom: 10px;
}

footer .title-block {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    line-height: 1.7rem;
}

footer ul.icon-wrap {
    padding-top: 5px;
}

footer ul.icon-wrap li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #646464;
    padding: 7px 5px 5px 5px;
    margin-right: 5px;
    text-align: center;
}

footer .fa {
    margin-right: 0;
    font-size: 1.6rem;
    vertical-align: 0;
}

/****************************/
.cd-accordion-menu input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
    position: relative;
    display: block;

}

.cd-accordion-menu ul {
    display: none;
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
    display: block;
}

/***************************/





button.buy_on {
    background: #fff url(../images/buy_on.gif) no-repeat;
    background-position-y: 4px;
    width: 30px;
    height: 30px;
    border: 0px;
    cursor: pointer;
}

button.buy_off {
    background: #fff url(../images/buy_off.gif) no-repeat;
    background-position-y: 4px;
    width: 30px;
    height: 30px;
    border: 0px;
    cursor: pointer;
}

button.del {
    background: #fff url(../images/del.gif) no-repeat;
    width: 20px;
    height: 20px;
    border: 0px;
    cursor: pointer;
}

/*mobile styles*/
.mobile-header-panel,
.mobile-footer-panel {
    display: none;
}

@media (max-width: 1200px) {

    .personal-cart span,
    .personal-cart a {
        line-height: 0.8rem;
    }

    #header-nav ul li a {
        font-size: 0.9rem;
    }

    .sub-menu {
        position: absolute;
        top: -1px;
        /*left: calc(100% + 0px);*/
        left: 239px;
        padding: 18px 32px 32px 32px;
        width: 840px;
        z-index: 1000;
    }

    .icons {
        width: 40px;
        padding: 7px 2px 5px 5px;
    }

    #header-nav ul li {
        padding: 1em 0.5rem;
    }

    .block-news {
        padding: 0 10px;
        margin: 5px 0;
    }

    .text-block {
        line-height: 1rem;
    }

    .img-block {
        margin-right: -9px;
    }

    .leader-position .text-block h3 {
        margin-bottom: 10px;
        height: 120px;
        overflow: hidden;
        line-height: 1.2rem;
    }

    .buttons-wrap .btn-wrap-small .btn.all {
        /*padding: 20px 2px;*/
        padding: 0px 2px;
    }

    .slider-sales-leader .nav-pills .nav-link {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .slider-sales-leader.position-page .tab-content .right {
        text-align: left;
        font-weight: bold;
        align-items: flex-end;
        display: flex;
    }

    .sub-menu {
        /*top: -17px;*/
        /*#left: calc(18% + 0px);*/
        top: -1px;
        left: 239px;
        width: 706px;
    }
}

@media (max-width: 1385px) {
    .header-search {
        background-position: -1%, 105%;
    }
}

@media (max-width: 992px) {
    .logo-top-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-top-wrap img {
        display: block;
    }

    .header-nav {
        height: auto;
    }

    .navbar {
        justify-content: flex-end;
    }

    .navbar-nav {
        margin-top: 10px;
        ;
    }

    .navbar-nav a {
        text-transform: uppercase;
    }

    .navbar-light .navbar-toggler {
        border: 2px solid rgb(90, 177, 27);
        background-color: white;
    }

    .personal-cart {
        margin-top: 8px;
    }

    #header-nav ul li {
        display: inline-block;
        margin: 0;
        padding: 0.5rem;
        text-align: right;
    }

    .news-wrap-sidebar {
        margin-top: 0;
    }

    .leader-position .text-block h3 {
        margin-bottom: 10px;
        height: 140px;
        overflow: hidden;
        line-height: 1rem;
        font-size: 0.9rem;
    }

    .home-page-menu-wrap {
        margin-bottom: 35px;
    }

    .home-page-menu-wrap ul li a,
    .home-page-menu-wrap ul li label {
        padding: 10px 5px;
    }

    .home-page-menu-wrap ul.catalog-menu li.active ul li a,
    .home-page-menu-wrap ul.catalog-menu li.active ul li label {
        padding: 10px 15px;
    }

    footer .title-block {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    footer ul li {
        line-height: 1.5rem;
    }

    .title-filter {
        margin-top: 15px;
    }

    .positions-filter-wrap {
        margin-bottom: 10px;
    }

    .price-position {
        align-items: flex-start;
    }

    .panel-catalog-filter p {
        margin-bottom: 0rem;
    }

    .img-block {
        margin-right: 0;
    }

    .button-wrapper {
        margin-bottom: 0;
    }

    .button-wrap .btn-param .btn.all {
        margin-bottom: 35px;
    }

    .button-wrapper .btn-wrap {
        margin-left: -15px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .button-wrapper .btn-wrap .btn.all {
        line-height: 1rem;
        height: 100%;
        padding: 5px 8px 8px;
    }

}

@media (max-width: 768px) {
    .icons {
        height: 34px;
        width: 40px;
        padding: 6px;
    }

    .slider-brands {
        padding: 15px 15px 0 15px;
    }

    .btn.all {
        margin-bottom: 35px;
    }

    .heading-card-wrap .button-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .heading-card-wrap .button-wrapper .btn-wrap {
        padding-bottom: 10px;
    }

    .button-wrapper .btn-wrap .btn.all {
        line-height: 1rem;
        height: 100%;
        padding: 5px 8px 8px;
        margin: 5px auto;
        display: flex;
        align-items: center;
    }

    .img-block {
        text-align: right;
    }

    .block-news>a:hover .img-block {
        border-color: #fff;
    }

    .news-wrap-sidebar {
        margin-bottom: 35px;
        ;
    }

    .slider-sales-leader {
        margin-left: 0;
    }

    .heading-card-wrap .button-wrapper .btn-wrap .btn.all {
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    .header-top {
        height: 100%;
        padding: .5rem 0 0.6rem;
    }

    .header-top input.default {
        float: right;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    /*mobile menu catalog*/
    .home-page-menu-wrap,
    .filter-wrap {
        right: -100%;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: white;
        top: 0;
        overflow: auto;
        padding-top: 60px;
        border: 0;
        transition: all 0.2s ease-in-out;
    }

    .filter-wrap.filter-wrap_reclamation {
        position: static;
    }

    .home-page-menu-wrap.mobile_show,
    .filter-wrap.mobile_show {
        right: 0;
    }

    .mobile-header-panel {
        display: flex;
        position: fixed;
        align-items: center;
        height: 60px;
        width: 100%;
        top: 0;
        margin-left: -17px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        background: white;
        z-index: 110;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .mobile-header-panel i {
        font-size: 0.95rem;
        position: absolute;
        right: 20px;
    }

    .mobile-footer-panel {
        display: flex;
        position: fixed;
        bottom: 0;
        margin-left: -17px;
        width: 100%;
        height: 60px;
        z-index: 100;
        background: white;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .mobile-footer-panel .mobile-button-wrap {
        margin: 0;
        width: 100%;
    }

    .mobile-footer-panel .mobile-button-wrap .flter-catalog-mobile {
        width: 90%;
    }

    /*mobile filter catalog*/
    .filter-wrap {
        display: flex;
        padding: 60px 1rem 60px 1rem;
    }

    .filter-wrap .button-wrap {
        display: none;
    }

    .filter-wrap.filter-wrap_reclamation {
        padding: 15px 0;
    }

    .filter-wrap.filter-wrap_reclamation .button-wrap {
        display: block;
    }

    .filter-wrap .brands-wrap.price {
        padding-bottom: 75px;
    }
}

@media (max-width: 576px) {
    .catalog-wrap .reviews-position h3 {
        font-size: 0.9rem;
    }

    .header-search {
        background-position: -40%, 195%;
        padding-top: 0;
    }

    .header-top {
        height: 100%;
    }

    .search-form {
        padding-top: 0.6rem;
    }

    .phone-wrap {
        padding-bottom: 5px;
        text-align: center;
        padding-left: 0;
    }

    .icons {
        border: none;
    }

    .pager-wrap .pagination li::after {
        content: "";
    }

    .heading-card-wrap h1 {
        font-size: 1rem;
        line-height: 1rem;
    }

    .text-block {
        margin-left: 0;
        margin-top: 15px;
    }

    .order-wrap {
        margin-left: 0;
        margin-right: 0;
    }

    .button-wrapper .btn-wrap {
        margin-left: 0;
        display: block;
        align-items: center;
        height: none;
    }

    .button-wrapper .btn-wrap .btn.all {
        line-height: 1rem;
        height: 75%;
        padding: 5px 8px 8px;
        margin-bottom: 15px;
    }

    .slider-top {
        margin-left: -15px;
        margin-right: -15px;
    }

    .price-poz-wrapper>div,
    .panel-catalog-filter>div {
        flex-direction: column;
    }

    .price-poz-wrapper .form-control-sm {
        width: 85%;
    }

    button.buy_on {
        background: #fff url(../images/buy_on.gif) no-repeat;
        background-position-y: 4px;
        width: 30px;
        height: 30px;
    }

    button.buy_off {
        background: #fff url(../images/buy_off.gif) no-repeat;
        background-position-y: 4px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 370px) {
    .panel-catalog-filter p {
        margin-bottom: 0.3rem;
        font-size: 0.8rem;
        line-height: 1;
    }

    .panel-catalog-filter .row .col {
        padding: 0;
        font-size: 0.8rem;
        text-align: right;
    }

    .price-poz-wrapper .form-control-sm {
        width: 100%;
    }
}


.auth-page {
    max-width: 900px;
    margin: auto;
}

.reg-form,
.auth-form {
    max-width: 400px;

}

.reg-form {
    margin-top: 25px;
}

.reg-form label,
.auth-form label {
    font-weight: bold;
}

.required {
    color: red;
}

option {
    color: black
}

option:disabled {
    color: #bfbbbb;
}

.brands-wrap {
    max-height: 300px;
    overflow-y: auto;
}

.last-level {
    font-weight: normal !important;
}